<div class="main-container">
    <div class="left">
        <div class="logo">
            <div class="signet">
                <svg width="72" height="48" xmlns="http://www.w3.org/2000/svg">
                    <!-- background -->
                    <rect x="0" y="0" width="72" height="48" rx="12" ry="12" fill="#3DCFB6" style="opacity: 50%" />

                    <!-- initials -->
                    <text x="10" y="42" font-family="Arial, sans-serif" font-size="48px" fill="#ffffff"
                        letter-spacing="-10px">BA</text>
                </svg>
            </div>
            <div class="name">
                <p id="Björn">Björn</p>
                <p id="Augustin">Augustin</p>
            </div>
        </div>
        <p>Web Developer</p>
        <p>Bengerstorf Germany</p>
    </div>
    <div class="mid">
        <p>&#169; Björn Augustin</p>
    </div>
    <nav>
        <ul>
            <li><a href="">Github</a></li>
            <li><a href="https://www.linkedin.com/in/bj%C3%B6rn-augustin-leuchtturm1917?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a></li>
            <li><a href="mailto: b.augustin@hotmail.com">Email</a></li>
            <li><a href="">Imprint</a></li>
        </ul>
    </nav>
</div>