<div id="aboutme" class="main-container">
    <div class="image-side">
        <img class="capa" src="./../../assets/images/Capa_1.svg" alt="">
        <img class="me" src="./../../assets/images/me.jpg" alt="">
    </div>
    <div class="text-side">
        <h5>{{ language.aboutMe[language.languageIndex].WhoIAm }}</h5>
        <div class="text-box">
            <h2>{{ language.aboutMe[language.languageIndex].AboutMe }}</h2>
            <p>{{ language.aboutMe[language.languageIndex].text }}</p>
            <div class="bullet-container">
                <div class="bullet-point">
                    <img class="icon" src="./../../assets/icons/location_on.svg" alt="">
                    <p style="opacity: 0.8">{{ language.aboutMe[language.languageIndex].bullet1 }}</p>
                </div>
                <div class="bullet-point">
                    <img class="icon" src="./../../assets/icons/cognition.svg" alt="">
                    <p style="opacity: 0.8">{{ language.aboutMe[language.languageIndex].bullet2 }}</p>
                </div>
                <div class="bullet-point">
                    <img class="icon" src="./../../assets/icons/new_releases.svg" alt="">
                    <p style="opacity: 0.8">{{ language.aboutMe[language.languageIndex].bullet3 }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>