@import './../../styles.scss';

.main-container {
    @include dFlex(space-evenly, space-between);
    height: 708px;
    margin-left: 112px;
    margin-right: 112px;
    margin-top: 144px;
    margin-bottom: 144px;

    .image-side {
        margin-bottom: 140px;

        .capa {
            border-radius: 30px;
            transform: translate(-42px,36px);
            position: absolute;

        }

        .me {
            @include size(568px, 568px);
            object-fit: cover;
            border-radius: 30px;
            position: relative;
        }
    }

    .text-side {


        h5 {
            margin-bottom: 20px;
            margin-top: 80px;
        }

        .text-box {
            @include size(568px, 568px);
            @include borderStyling(30px, $primary);
            background-color: rgba(61, 207, 182, 0.1);
            padding: 32px;
            box-sizing: border-box;

            h2 {
                margin-bottom: 16px;
            }

            p {
                font-family: Karla;
                font-size: 18px;
                color: $fontWhite;
                line-height: 21.6px;
                margin-bottom: 32px;
                text-align: justify;
            }

            .bullet-container {
                position: relative;
                @include dFlex(space-between, flex-start);
                flex-direction: column;
                gap: 16px;

                .bullet-point {
                    @include dFlex(space-between, flex-start);
                    gap: 24px;

                    .icon {
                        @include size(32px, 32px)
                    }

                    p {
                        color: rgba(255, 255, 255, 0.8);
                        margin: 0;
                        text-align: unset;

                        &:hover {
                            color: $fontWhite;
                        }
                    }
                }
            }
        }
    }

}