@import './../../styles.scss';

.main-container {
    @include dFlex();
    gap: 50px;

    .me {
        @include size(568px, 568px);
        object-fit: cover;
        border-radius: 30px;
    }

    .text-container {


        .text-box {
            @include size(568px, 568px);
            @include borderStyling(30px, $primary);
            background-color: rgba(61,207,182,0.1);

            p {
                font-family: Karla;
                font-size: 18px;
                color: $fontWhite;
                line-height: 21.6px;
            }

            bullet-points {
                display: flex;
                //hier stimmt etwas nicht..

                .icon {
                    @include size(32px, 32px)
                }

                p {
                    opacity: 0.8;
                }
            }
        }
    }

}