@import './../../styles.scss';

.main-container {

    .me {
        @include size(568px, 568px);
        object-fit: cover;
        border-radius: 30px;
    }

    .text-container {


        .text-box {
            @include size(568px, 568px);
            @include borderStyling(30px, $primary);
            background-color: $primary;

            p {
                font-family: Karla;
                font-size: 18px;
                color: $fontWhite;
                line-height: 21.6px;
            }

            bullet-points {
                @include dFlex(space-between, flex-start);

                .icon {
                    @include size(32px, 32px)
                }

                p {
                    opacity: 0.8;
                }
            }
        }
    }

}