@import './../../../styles.scss';

.background {
    @include size(100vw, 100vh);
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(1px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include dFlex();
}

.main-window {
    width: 75vw;
    height: 75vh;
    background: linear-gradient(210deg, $gradientGreen, $gradientGreen 20%, $background 60%);
    @include borderStyling(30px, $primary);
    
    .close {
        position: relative;
        left: 95%;
        top: 5%;
    }
}

