@import './../../../styles.scss';
/* 
.background {
    @include size(100vw, 100vh);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include dFlex();
} */

.main-window {
    background: linear-gradient(210deg, $gradientGreen, $gradientGreen 20%, $background 60%);
    @include borderStyling(30px, $primary);
    font-family: Karla;
    @include dFlex(center, center);
    gap: 50px;
    padding: 80px;
    z-index: 20;
    margin: 5%;
    box-sizing: border-box;

    .text-container {
        width: 40%;

        .project-title {
            @include dFlex(center, flex-start);
            flex-direction: column;
            margin-bottom: 40px;

            h1 {
                color: $primary;
            }

            h2 {
                color: $fontWhite;
                letter-spacing: -3%;
            }
        }

        .project-description {


            h5 {
                font-family: Fira Code;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .text-description {
                font-size: 18px;
                font-weight: 400;
                color: $fontWhite;
                margin-bottom: 32px;
            }

            .tech-logos {
                @include dFlex(space-between, center);
                margin-bottom: 40px;
                flex-wrap: wrap;
                gap: 8px;

                .single-logo {
                    @include dFlex(flex-start, center);
                    gap: 4px;
                }
            }
        }

        .btn-container {
            @include dFlex(flex-start, center);
            gap: 32px;
        }
    }

    .right-container {
        @include dFlex(space-between, flex-end);
        flex-direction: column;
        width: 40%;
        height: 100%;

        .close {
            cursor: pointer;
            margin: 15px;
        }

        #img-frame {
            width: 100%;
        }

        .next {
            display: flex;
            gap: 16px;
            cursor: pointer;
            font-size: 18px;
            color: $primary;
            margin-right: 11px;

            p {
                cursor: pointer;
            }

            &:hover {
                color: $fontWhite;

                img {
                    animation: scale-left-center 0.5 ease-in-out forwards;
                }
            }
        }
    }
}