
<div class="background">
    <div class="main-window">
        <img class="close" (click)="showOverlay = false; emitOverlay()" style="cursor: pointer"
            src="./../../../assets/close_small.svg" alt="">
        <p>{{ projectdata.projectlist[projectIndex].number}}</p>
        <p>{{ projectdata.projectlist[projectIndex].name}}</p>
        <p>What is this project about?</p>
        <p>{{ projectdata.projectlist[projectIndex].about}}</p>

        @for(item of projectdata.projectlist[projectIndex].technologies; track item.tech) {
            
            <img src="./../../../assets/logos/{{ item.icon }}" alt="">
            <p>{{ item.tech }}</p>
            
        }
        
        
        
        <div (click)="nextProject()" style="cursor: pointer; margin-top: 100px;">next project</div>
    </div>

    
</div>