
    <div class="main-window">

        <div class="text-container">
            <div class="project-title">
                <p class="project-number">{{ projectdata.projectlist[projectIndex].number}}</p>
                <p class="project-name">{{ projectdata.projectlist[projectIndex].name}}</p>
            </div>
            <div class="project-description">
                <p class="headline-description">{{ language.portfolio[language.languageIndex].projectHeadline }}</p>
                <p class="text-description">{{ projectdata.projectlist[projectIndex].about[language.languageIndex] }}</p>
                
                
                <div class="tech-logos">
                    @for(item of projectdata.projectlist[projectIndex].technologies; track item.tech) {
                    <div class="single-logo">
                        <img src="./../../../assets/logos/{{ item.icon }}" alt="">
                        <p>{{ item.tech }}</p>
                    </div>
                    }
                </div>
            </div>
            <div class="btn-container">
                <div class="btn-style">
                    <div (click)="functions.goToUrl('https://www.github.com/BjoernAugustin/')" class="btn-style btn-padding">
                        <p class="marquee-effect">Github</p>
                        <img class="arrow-right-up"  src="./../../../assets/nav/arrow_outward.svg" alt="">
                    </div>
                    
                </div>
                <div class="btn-style">
                    <div (click)="functions.goToUrl(projectdata.projectlist[projectIndex].url)" class="btn-style btn-padding">
                        <p class="marquee-effect">Live Test</p>
                        <img class="arrow-right-up" src="./../../../assets/nav/arrow_outward.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="right-container">
            <img 
            class="close" 
            (mouseover)="hoverClose = true" 
            (mouseleave)="hoverClose = false" 
            style="margin: 19px;"
            [ngStyle]="{'display': hoverClose == false ? 'flex' : 'none'}"
            src="./../../../assets/nav/close_small.svg"
                alt="">
            <img 
            class="close" 
            (click)="close()" 
            (mouseover)="hoverClose = true" 
            (mouseleave)="hoverClose = false" 
            [ngStyle]="{'display': hoverClose == true ? 'flex' : 'none'}"
            src="./../../../assets/nav/close.svg"
                alt="">

            <img src="./../../../assets/images/{{ projectdata.projectlist[projectIndex].img_frame }}" alt="">

            <div (click)="nextProject()" class="next">
                <p>{{ language.portfolio[language.languageIndex].projectNext }}</p>
                <img src="./../../../assets/nav/arrow_forward.svg" alt="">
            </div>
        </div>
    </div>

