<div id="skills" class="main-container">

    <div class="text-side">
        <h5>{{ language.skillSet[language.languageIndex].Technologies }}</h5>
        <div class="text-box">
            <h2>{{ language.skillSet[language.languageIndex].SkillSet }}</h2>
            <p>{{ language.skillSet[language.languageIndex].text1 }}
            </p>
            <div class="another-skill">
                <p>{{ language.skillSet[language.languageIndex].sub1 }}&nbsp;</p>
                <p class="highlight">{{ language.skillSet[language.languageIndex].sub2 }}</p>
            </div>
            <p>{{ language.skillSet[language.languageIndex].text2 }}
            </p>
            <div (click)="functions.sendEmail()" class="btn-style btn-padding">
                <p class="marquee-effect">{{ language.skillSet[language.languageIndex].letsTalkBTN }}</p>
            </div>
        </div>
    </div>


    <div class="logo-side">
        <div class="proberty">
            <img src="./../../assets/logos/Property 1=HTML.svg" alt="">
            <p>HTML</p>
        </div>
        <div class="proberty">
            <img src="./../../assets/logos/Property 1=CSS.svg" alt="">
            <p>CSS</p>
        </div>
        <div class="proberty">
            <img src="./../../assets/logos/Property 1=JavaScript.svg" alt="">
            <p>JavaScript</p>
        </div>
        <div class="proberty">
            <img src="./../../assets/logos/Property 1=Material Design.svg" alt="">
            <p>Material Design</p>
        </div>
        <div class="proberty">
            <img src="./../../assets/logos/Property 1=TypeScript.svg" alt="">
            <p>TypeScript</p>
        </div>
        <div class="proberty">
            <img src="./../../assets/logos/Property 1=Angular.svg" alt="">
            <p>Angular</p>
        </div>
        <div class="proberty">
            <img src="./../../assets/logos/Property 1=Firebase.svg" alt="">
            <p>Firebase</p>
        </div>
        <div class="proberty">
            <img src="./../../assets/logos/Property 1=Git.svg" alt="">
            <p>Git</p>
        </div>
        <div class="proberty">
            <img src="./../../assets/logos/Property 1=Rest-Api.svg" alt="">
            <p>Rest-Api</p>
        </div>
        <div class="proberty">
            <img src="./../../assets/logos/Property 1=Scrum.svg" alt="">
            <p>Scrum</p>
        </div>
        <div (mouseover)="hover=true" (mouseleave)="hover=false" class="proberty mindset">
            <img src="./../../assets/logos/Property 1=GrowthMindset.svg" alt="">
            <p>{{ language.skillSet[language.languageIndex].mindset }}</p>

            <div id="infowindow" 
            [ngStyle]="{'display': hover == true ? 'block' : 'none'}">
                <div class="bubble">
                    <p>{{ language.skillSet[language.languageIndex].interest }}</p>
                    <div class="logo-box">
                        <div class="learning-logo">
                            <img src="./../../assets/logos/React color.svg" alt="">
                            <p>React</p>
                        </div>
                        <div class="learning-logo">
                            <img src="./../../assets/logos/Vue Js color.svg" alt="">
                            <p>Vue Js</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>