@keyframes up-down-loop {
    0% {
        transform: translateY(-7px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-7px);
    }
}

@keyframes op-50-100 {
    
    from {
        opacity: 50%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes border-primary-white {
    
    from {
        border-color: $primary;
    }
    to {
        border-color: $fontWhite;
    }
}

@keyframes scale-bottom-center {
    from {
        transform: scale(1);
        transform-origin: bottom center;
    }
    to {
        transform: scale(1.05);
        transform-origin: bottom center;
    }
}

@keyframes scale-left-center {
    from {
        transform: scale(1);
        transform-origin: left center;
    }
    to {
        transform: scale(1.2);
        transform-origin: left center;
    }
}

@keyframes marquee-effect {
    0% {
        transform: translateX(0);
        opacity: 1
    }

    49% {
        transform: translateX(-150px);
        opacity: 1
    }

    50% {
        transform: translateX(-150px);
        opacity: 0
    }

    51% {
        transform: translateX(150px);
        opacity: 0
    }

    52% {
        transform: translateX(150px);
        opacity: 1
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }

}

@keyframes arrow-right-up {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(3px, -3px);
    }
}