$h1RespFontSize: 62px;
$h2RespFontSize: 56px;
$h3RespFontSize: 24px;
$h4RespFontSize: 24px;
$h5RespFontSize: 18px;
$marqueeRespFontSize: 24px;
$navRespFontSize: 18px;
$mainRespFontSize: 16px;

$h1FontSize: 128px;
$h2FontSize: 64px;
$h3FontSize: 40px;
$h4FontSize: 32px;
$h5FontSize: 24px;
$marqueeFontSize: 40px;
$navFontSize: 20px;
$buttonFontSize: 18px;
$mainFontSize: 18px;
$smallerFontSize: 16px;
$privacyFontSize: 15px;