@import './colors.scss';

@mixin dFlex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin borderStyling($bRadius, $bColor) {
    border-radius: $bRadius;
    border: 1px solid $bColor;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}
