@import './../../../styles.scss';

.main-container {
    @include dFlex(space-between, center);
    margin-left: 96px;
    margin-right: 96px;
}

.navbar {
    
    @include dFlex();

    a {
        font-family: Fira Code;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        color: $fontWhite;
        margin-left: 24px;
    }

    ul li {
        display: inline-block;
        position: relative;
    }
    
    ul li:hover:before {
        content: "";
        position: absolute;
        top: 28px;
        background: $primary;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        left:calc(50% + 8px);
    }
}


.language-switch {
    @include size(84px, 28px);
    @include borderStyling(100px, $primary);
    @include dFlex(space-between, center);
    font-family: Fira Code;
    font-size: 16px;

    &:hover {
        animation: border-primary-white 0.5s linear forwards;
    }

    .language-active {
        @include size(44px, 28px);
        border-radius: 100px;
        background-color: $primary;
        color: $fontWhite;
        @include dFlex();
    }

    .language-inactive {
        @include size(44px, 28px);
        color: $primary;
        opacity: 50%;
        @include dFlex();
        cursor: pointer;

        &:hover {
            animation: op-50-100 0.5s linear forwards;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    p {
        margin: 0px;
    }

    .name {
        text-align: start;
        padding-bottom: 4px;
        font-size: 30px;
        margin-left: 8px;
        line-height: 0.85;
    }
}

@keyframes op-50-100 {
    
    from {
        opacity: 50%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes border-primary-white {
    
    from {
        border-color: $primary;
    }
    to {
        border-color: $fontWhite;
    }
}