<div id="projects" class="main-container">
    <h5>{{ language.portfolio[language.languageIndex].Portfolio }}</h5>
    <h2>{{ language.portfolio[language.languageIndex].Projects }}</h2>
    <div class="text-container">
        <p>{{ language.portfolio[language.languageIndex].text }}</p>
    </div>
    
    <div class="project-links-container">
        @for(project of projectdata.projectlist; track project.number; let index = $index; let firstproject = $first){
        <div class="portfolio-container">
            <div (mouseover)="project.hover = true" (mouseleave)="project.hover = false" (click)="openModal()" class="project"
                [ngStyle]="{'border-width': firstproject == true ? '1px 0 1px 0' : '0 0 1px 0'}">
                <p>{{ project.name }}</p>
                <div class="proberties">
                    @for(item of projectdata.projectlist[index].technologies; track item.tech; let last = $last)
                    {
                    <p>{{ item.tech }}</p>
                    <p [ngStyle]="{'display': last == true ? 'none' : 'flex'}" class="primary-color">|</p>
                    }
                </div>
            </div>
            <img             
            [ngStyle]="{'display': project.hover == true ? 'flex' : 'none', 'top.px': index * -55}"
            class="preview-screen"
            src="./../../assets/images/{{ project.img_preview }}" alt="">
        </div>
        }

    </div>

    <ng-template cdkPortal>
        <app-pfoverlay></app-pfoverlay>
    </ng-template>