<div class="main-container">
    <h5>Portfolio</h5>
    <h2>Featured Projects</h2>
    <p>Explore a selction of my work here - interact with projects to see my skills in action.</p>
    <div class="portfolio-box">
        <p>Join</p>
        <div class="proberty-box">
            <p>Angular</p>
            <p class="text-separator">|</p>
            <p>TypeScript</p>
            <p class="text-separator">|</p>
            <p>HTML</p>
            <p class="text-separator">|</p>
            <p>CSS</p>
            <p class="text-separator">|</p>
            <p>Firebase</p>
        </div>
    </div>
</div>
<app-pf-1></app-pf-1>
<app-pf-2></app-pf-2>
<app-pf-3></app-pf-3>