@import './../../styles.scss';

.main-container {
    @include dFlex();
    flex-direction: column;
    margin-top: 144px;

    .slider-carousel {
        @include dFlex();
        gap: 72px;
        margin-top: 48px;
        margin-bottom: 48px;

        
        
        .animate-active-to-inactive {
            animation: slideEffect-ati 1s ease-in-out infinite;
        }

        .animate-inactive-to-active {
            animation: slideEffect-ita 1s ease-in-out infinite;
        }
    
        .animate-inactive-to-inactive {
            animation: slideEffect-iti 1s ease-in-out infinite;
        }

        .comment-container {
            @include dFlex(space-between, flex-start);
            flex-direction: column;
            @include borderStyling(32px, $primary);
            padding: 40px;

            img {
                position: relative;
                transform: translate(-85px, -346px);
            }

            .signature {
                @include dFlex();
                width: 100%;

                .line {
                    background-color: $fontWhite;
                    height: 1px;
                    width: 100%;
                    margin-right: 16px;
                }

                p {
                    text-wrap: nowrap;
                }
            }
        }

        .active-slide {
            background-color: rgba(61, 207, 182, 0.3);
            @include size(358px, 360px);
        }

        .inactive-slide {
            background-color: rgba(61, 207, 182, 0.1);
            @include size(358px, 248px);
        }
    }


    .navigation {
        @include dFlex();
        gap: 20px;


        .dot {
            @include size(8px, 8px);
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                background-color: $primary;
            }
        }

        .active-dot {
            background-color: $primary;
        }

        .inactive-dot {
            background-color: $fontWhite;
        }

        img {
            cursor: pointer;
        }
    }

    

    

    @keyframes slideEffect-ati {
        from {
            transform: translateX(0);
            @include size(358px, 360px);
            background-color: rgba(61, 207, 182, 0.3);
        }

        to {
            transform: translateX(-512px);
            @include size(358px, 248px);
            background-color: rgba(61, 207, 182, 0.1);
        }
    }

    @keyframes slideEffect-ita {
        from {
            transform: translateX(0px);
            @include size(358px, 248px);
            background-color: rgba(61, 207, 182, 0.1);
        }

        to {
            transform: translateX(-512px);
            @include size(358px, 360px);
            background-color: rgba(61, 207, 182, 0.3);
        }
    }

    @keyframes slideEffect-iti {
        0% {
            transform: translateX(0);
            @include size(358px, 248px);
            opacity: 1;
        }

        1% {
            transform: translateX(0);
            @include size(358px, 248px);
            opacity: 0.5;
        }

        99% {
            transform: translateX(1024px);
            @include size(358px, 248px);
            opacity: 0.5;
        }

        100% {
            transform: translateX(1024px);
            @include size(358px, 248px);
            opacity: 1;
        }
    }
}