<div class="main-container">
    <h4>What my colleagues say about me</h4>
    <div class="slider-carousel">
        <!-- @for(item of commentdata.commentsList; track item; let index = $index){
        
            <div [ngClass]="{'active-slide': activeCommentIndex == index, 'inactive-slide': activeCommentIndex !== index, 'animate': slideCardAnimation == true && activeCommentIndex == index}"
                class="comment-container">
                <p>{{ item.comment }}</p>
                <div class="signature">
                    <div class="line"></div>
                    <p>{{ item.name }} - {{ item.jobtitle }}</p>
                </div>
            </div>
        
        } -->
        <div 
        [ngClass]="{'animate-inactive-to-inactive': slideCardAnimation == true}"
        class="comment-container inactive-slide">
            <p>{{ commentdata.commentsList[inactiveCommentIndexLeft].comment }}</p>
            <div class="signature">
                <div class="line"></div>
                <p>{{ commentdata.commentsList[inactiveCommentIndexLeft].name }} - {{
                    commentdata.commentsList[inactiveCommentIndexLeft].jobtitle }}</p>
            </div>
        </div>

        <div 
        [ngClass]="{'animate-active-to-inactive': slideCardAnimation == true}"
        class="comment-container active-slide">
            <p>{{ commentdata.commentsList[activeCommentIndex].comment }}</p>
            <div class="signature">
                <div class="line"></div>
                <p>{{ commentdata.commentsList[activeCommentIndex].name }} - {{
                    commentdata.commentsList[activeCommentIndex].jobtitle }}</p>
            </div>
            <img src="./../../assets/quotes.svg" alt="">
        </div>

        <div 
        [ngClass]="{'animate-inactive-to-active': slideCardAnimation == true}"
        class="comment-container inactive-slide">
            <p>{{ commentdata.commentsList[inactiveCommentIndexRight].comment }}</p>
            <div class="signature">
                <div class="line"></div>
                <p>{{ commentdata.commentsList[inactiveCommentIndexRight].name }} - {{
                    commentdata.commentsList[inactiveCommentIndexRight].jobtitle }}</p>
            </div>
        </div>
    </div>

<div class="navigation">
    <div>
        <img (click)="previousComment()" src="./../../assets/nav/arrow_left.svg" alt="">
    </div>
    @for(item of commentdata.commentsList; track item; let index = $index){
    <div (click)="activeCommentIndex = index; inactiveSlidesIndexes()"
        [ngClass]="{'active-dot': activeCommentIndex == index, 'inactive-dot': activeCommentIndex !== index}"
        class="dot">
    </div>
    }
    <img (click)="nextComment()" src="./../../assets/nav/arrow_right.svg" alt="">
</div>
</div>