@import './../../../styles.scss';

.banner {
    width: 101vw;
    height: 62px;
    background-color: rgba(255,255,255,0.12);
    backdrop-filter: blur(3px);
    @include dFlex();
}


marquee {
    font-family: Karla;
    font-size: $marqueeFontSize;
    color: $primary;

    ul {
        @include dFlex(space-evenly, center);
        gap: 120px;

        li span {
            position: relative;
            left: 36px;
        }
    }
}

