@import './shared/colors.scss';
@import './shared/fonts.scss';
@import './shared/mixin.scss';
@import './shared/animations.scss';
@import './shared/fontsize.scss';

@import '@angular/cdk/overlay-prebuilt.css';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: $background;
    color: $fontWhite;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
}

h1 {
    font-family: Karla;
    font-size: $h1FontSize;
    font-weight: 700;
    color: $atfWhite;
    margin: 0;
    text-align: center;
}

h5 {
    font-family: Karla;
    font-size: $h5FontSize;
    font-weight: 500;
    color: $primary;
    margin: 0;
}

h3 {
    font-family: Fira Code;
    font-size: $h3FontSize;
    font-weight: 400;
    color: $atfWhite;
    margin: 0;
}

h4 {
    font-family: Fira Code;
    font-size: $h4FontSize;
    font-weight: 700;
    color: $primary;
    margin: 0;
}

h2 {
    font-family: Fira Code;
    font-size: $h2FontSize;
    font-weight: 700;
    color: $primary;
    margin: 0;
}

p {
    font-family: Karla;
    font-size: $mainFontSize;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: $smallerFontSize;
    color: $fontWhite;
}

svg,
marquee,
p,
h1,
h2,
h3,
h4,
h5,
span {
    cursor: default;
}

button {
    background-color: transparent;
}

.btn-style {
    @include dFlex();
    @include borderStyling(100px, $fontWhite);
    font-family: Karla;
    font-size: $buttonFontSize;
    color: $fontWhite;
    overflow: hidden;
    cursor: pointer;
    gap: 8px;
    text-wrap: nowrap;

    p {
        cursor: pointer;
    }

    &:hover {
        border-color: $primary;

        p {
            color: $primary;
        }

        .marquee-effect {
            animation: marquee-effect 2s infinite;
        }

        .arrow-right-up {
            animation: arrow-right-up 0.25s ease-in-out forwards;
        }
    }
}

.btn-padding {
    padding: 12px 24px 12px 24px;
}

.primary-color {
    color: $primary;
}

@media (max-width: 720px) {
    h1 {
        font-size: $h1RespFontSize;
    }

    h2 {
        font-size: $h2RespFontSize;
    }

    h3 {
        font-size: $h3RespFontSize;
    }

    h4 {
        font-size: $h4RespFontSize;
    }

    h5 {
        font-size: $h5RespFontSize;
    }

    p {
        font-size: $mainRespFontSize;
    }
}