@import './shared/colors.scss';
@import './shared/fonts.scss';
@import './shared/mixin.scss';

body {
    margin: 0;
    box-sizing: border-box;
    background-color: $background;
    color: $fontWhite;
    overflow-x: hidden;
}

h5 {
    font-family: Karla;
    font-size: 24px;
    font-weight: 500;
    color: $primary;
    margin: 0;
}

h2 {
    font-family: Fira Code;
    font-size: 64px;
    font-weight: 700;
    color: $primary;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $fontWhite;
}

svg, marquee, p, h2, h5, span {
    cursor: default;
}

.btn-style {
    @include dFlex();
    @include borderStyling(100px, $fontWhite);
    font-family: Karla;
    font-size: 18px;
    color: $fontWhite;
    padding: 0 24px 0 24px;
    height: 48px;
    overflow: hidden;

    &:hover {
        border-color: $primary;
        color: $primary;
        a{
            animation: marquee 2s infinite;
            color: $primary;
         }
    }

    
}

@keyframes marquee {
    0% {
        transform: translateX(0);
        opacity: 1
    }
    49% {
        transform: translateX(-150px);
        opacity: 1
    }
    50% {
        transform: translateX(-150px);
        opacity: 0
    }
    51% {
        transform: translateX(150px);
        opacity: 0
    }
    52% {
        transform: translateX(150px);
        opacity: 1
    }
    100% {
        transform: translateX(0);
        opacity: 1
    }

}