@import './shared/colors.scss';
@import './shared/fonts.scss';
@import './shared/mixin.scss';

body {
    margin: 0;
    box-sizing: border-box;
    background-color: $background;
    color: $fontWhite;
}