<div class="atf-main-container">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="title">
        <p class="job">Frontend Developer</p>
        <p class="name">Björn Augustin</p>
        <div class="btn-container">
            <div class="btn-style">
                <a class="marquee-effect" href="#">Check my work</a>
            </div>
            <div class="btn-style">
                <a class="marquee-effect" href="mailto: b.augustin@hotmail.com">Contact me</a>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="arrow">
            <div class="btn-arrow">
                <svg id="scrollArrow" width="14" height="18" xmlns="http://www.w3.org/2000/svg">
                    <line x1="7" y1="0" x2="7" y2="12" stroke="white" stroke-width="1" />
                    <line x1="7" y1="12" x2="3" y2="8" stroke="white" stroke-width="1" />
                    <line x1="7" y1="12" x2="11" y2="8" stroke="white" stroke-width="1" />
                </svg>
            </div>
            <div class="line240px">
                <svg width="2" height="240" xmlns="http://www.w3.org/2000/svg">
                    <line x1="1" y1="0" x2="1" y2="240" stroke="#3DCFB6" stroke-width="1" />
                </svg>
            </div>
        </div>
        <div class="contact">
            <div class="email">
                <a href="mailto: b.augustin@hotmail.com">b.augustin&#64;hotmail.com</a>
            </div>
            <div class="socialmedia">
                <img src="./../../assets/logos/Property 1=GitHub.svg" alt="">
                <img src="./../../assets/logos/Property 1=Linkedin.svg" alt="">
            </div>
            <svg width="2" height="186" xmlns="http://www.w3.org/2000/svg">
                <line x1="1" y1="0" x2="1" y2="186" stroke="#FFFFFF" stroke-width="1" />
            </svg>
        </div>
    </div>
    <div class="prompter">
        <app-prompter></app-prompter>
    </div>
</div>