@import './../../styles.scss';

.atf-main-container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(210deg, $gradientGreen, $gradientGreen 20%, $background 60%);
    @include dFlex();
    flex-direction: column;
}

.header {
    width: 100%;
    position: absolute;
    top: 48px;
}

.title {
    @include dFlex();
    flex-direction: column;

    .job {
        font-family: Fira Code;
        font-size: 40px;
        color: $atfWhite;
        margin: 0;
    }

    .name {
        font-family: Karla;
        font-weight: 700;
        font-size: 128px;
        color: $atfWhite;
        margin: 0;
    }

    .btn-container {
        margin-top: 48px;
        @include dFlex();
        gap: 56px;
        z-index: 1;
        cursor: pointer;

        .btn-style {
            @include dFlex();
            @include borderStyling(100px, $fontWhite);
            font-family: Karla;
            font-size: 18px;
            color: $fontWhite;
            padding: 0 24px 0 24px;
            height: 48px;
            overflow: hidden;

            &:hover {
                border-color: $primary;
                color: $primary;
            }

            p:hover{
               animation: marquee 2s infinite;
            }
        }
    }
}

.bottom-section {
    position: absolute;
    bottom: 0px;
    @include dFlex(space-between, flex-end);
    width: calc(100vw - 192px);
    max-width: 100%;

    .arrow {
        @include size(auto, 312px);
        @include dFlex(space-between, center);
        flex-direction: column;

        .btn-arrow {
            @include size(30px, 48px);
            @include borderStyling(100px, $primary);
            @include dFlex();

            svg {
                animation: hopping 1.5s infinite;
            }
        }

    }

    .contact {
        @include dFlex();
        flex-direction: column;
        gap: 24px;

        .email {
            writing-mode: vertical-lr;
            transform: rotate(180deg);

            a {
                text-decoration: none;
                color: $fontWhite;
                font-family: Karla;

                &:hover {
                    color: $primary;
                }
            }
        }

        .socialmedia {
            @include size(32px, 76px);
            @include dFlex(space-between, center);
            flex-direction: column;
        }

        img {
            @include size(100%, auto);
        }
    }
}

.prompter {
    position: absolute;
    bottom: 62px;
    rotate: -3deg;
    overflow: hidden;
}

@keyframes hopping {
    0% {
        transform: translateY(-7px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-7px);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-150px);
    }
    66% {
        transform: translateX(-150px);
        opacity: 1
    }
    67% {
        transform: translateX(-150px);
        opacity: 0
    }
    68% {
        transform: translateX(150px);
        opacity: 0
    }
    69% {
        transform: translateX(150px);
        opacity: 1
    }
    100% {
        transform: translateX(0);
    }

}