.atf-main-container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    
}

.background {
    background-image: url('./../../assets/19.\ Skill\ set\ Background.png');
    background-size: contain;
}
