<div class="atf-main-container">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="title">
        <p class="job">Frontend Developer</p>
        <p class="name">Björn Augustin</p>
        <div class="btn-container">
            <div class="btn-style">Check my work</div>
            <div class="btn-style">Contact me</div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="arrow">
            <div class="btn-arrow"></div>
            <div class="line240px"></div>
        </div>
        <div class="contact"></div>
        <div class="prompter">
            <app-prompter></app-prompter>
        </div>
    </div>
</div>