@import './../../styles.scss';

.atf-main-container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(210deg, $gradientGreen, $gradientGreen 20%, $background 60%);
    @include dFlex();
    flex-direction: column;
}

.header {
    width: 100%;
    position: absolute;
    top: 48px;
}

.title {
    @include dFlex();
    flex-direction: column;

    .btn-container {
        margin-top: 48px;
        @include dFlex();
        gap: 56px;
        z-index: 1;
    }
}

.bottom-section {
    position: absolute;
    bottom: 0px;
    @include dFlex(space-between, flex-end);
    width: 100%;

    .arrow {
        @include size(auto, 312px);
        @include dFlex(space-between, center);
        flex-direction: column;
        margin-left: 96px;

        .bouncing-arrow {
            @include size(30px, 48px);
            @include borderStyling(100px, $primary);
            @include dFlex();

            svg {
                animation: up-down-loop 1.5s infinite;
            }
        }
    }

    .contact {
        @include dFlex();
        flex-direction: column;
        gap: 24px;
    }

    .socialmedia {
        @include size(auto, 76px);
        @include dFlex(space-between, center);
        flex-direction: column;

        .git-logo {
            position: relative;
            @include size(32px, 32px);
            background-image: url('./../../assets/logos/Property\ 1=GitHub.svg');
            cursor: pointer;

            &:hover {
                background-image: url('./../../assets/logos/Github_hover.svg');

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: - 15px;
                    width: 8px;
                    height: 8px;
                    background-color: $primary;
                    border-radius: 100%;
                }
            }
        }

        .linkedIn-logo {
            position: relative;
            @include size(32px, 32px);
            background-image: url('./../../assets/logos/Property 1=Linkedin.svg');
            cursor: pointer;

            &:hover {
                background-image: url('./../../assets/logos/Linkedin_hover.svg');

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: - 15px;
                    width: 8px;
                    height: 8px;
                    background-color: $primary;
                    border-radius: 100%;
                }
            }
        }
    }
}

.prompter {
    position: absolute;
    bottom: 62px;
    rotate: -3deg;
    overflow: hidden;
}



@media (min-width: 940px) {
    .contact {
        margin-right: 96px;

        .email {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            position: relative;

            p:after {
                content: "b.augustin@hotmail.com";
            }

            p:hover {
                color: $primary;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 940px) {
    .contact {
        margin-right: 16px;

        .email {
            margin-bottom: -16px;

            p {
                position: relative;
                @include size(32px, 32px);
                background-image: url('./../../assets/icons/Mail_primary.svg');
                cursor: pointer;

                &:hover {
                    background-image: url('./../../assets/icons/Mail_hover.svg');

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: - 15px;
                        width: 8px;
                        height: 8px;
                        background-color: $primary;
                        border-radius: 100%;
                    }
                }
            }
        }
    }

    .bottom-section {
        .arrow {
            margin-left: 16px;
        }
    }

    .header {
        top: 16px;
    }

    .title {
        .btn-container {
            gap: 24px;
        }
    }

    @media (max-width: 480px) {
        .title {
            .btn-container {
                gap: 4px;
            }
        }
    }
}